[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
aiohttp = "*"
python-dateutil = "*"
certifi = ">=2023.7.22"

[dev-packages]
black = "*"
setuptools = "*"
build = "*"
pylint = "*"
tomlkit = "*"
twine = "*"
shibuya = "*"
sphinx = ">=8.0.0"

[requires]
python_version = "3.11"
